{% extends 'base.html' %}
{% block title %}login{% endblock title %}
{% block nav %}
        <div class="rightnav v-class-resp">
            <div class="login">
                <img src="./static/icons/user-icon.svg" alt="">
                <a href="/login">Log in</a>
            </div>
            <div class="login">
                <img src="./static/icons/edit.svg" alt="">
                <a href="/register">Register Now</a>
            </div>
        </div>
{% endblock nav %}
{% block body %}
    <section style="padding: 30px; text-decoration: none;">
        <h1>System Login</h1>
        <form method="POST" style="padding: 15px; width:0px; font-size: 25px;">
            {% csrf_token %}
            {{ form.as_p }} <br>
            <button class="btn-dark" type="submit">Login</button>
        </form>
    </section>
{% endblock body %}























