{% extends 'base.html' %}
{% load static %}
{% block title %}register{% endblock title %}
{% block nav %}
    {% if user.is_authenticated %}
        <div class="rightnav v-class-resp">
            <div class="logout">
                <a href="/ticketlist" style="font-size:18px; margin-right: 40px; color: white; text-decoration: none">Tickets Booked</a>
            </div>
            <div class="logout">
                <img src="/static/icons/user-icon.svg" alt="">
                <a href="{% url 'logout' %}" style="color: white; font-size:18px; text-decoration: none">Log Out</a>
            </div>
        </div>
    {% else %}
        <div class="rightnav v-class-resp">
            <div class="login">
                <img src="/static/icons/user-icon.svg" alt="">
                <a href="{% url 'login' %}">Log in</a>
            </div>
            <div class="login">
                <img src="/static/icons/edit.svg" alt="">
                <a href="{% url 'register' %}">Register Now</a>
            </div>
        </div>
    {% endif %}
{% endblock nav %}
{% block body %}
    <section style="padding: 40px; font-size: 20px;">
        <h1>Create New Account</h1> <br>
        <form method="POST"">
        {% csrf_token %}
            <input type="hidden" name="csrfmiddlewaretoken" value="DRKfSlbkmbwsaiWnAdQ1xgp7Dj50KMo1chFbVTrIAQQO8Wzz3NUmqkoOD5jnlTGm">
            <p><label for="id_username">Username:</label><br> <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username"> <span class="helptext"><br>Requires 150 or fewer characters. Letters, digits and @/./+/-/_ only.</span></p><br><br>
            <p><label for="id_password1">Password:</label><br> <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1"> <span class="helptext"></span></p><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul><p></p><br><br>
            <p><label for="id_password2">Password confirmation:</label><br> <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2"> <span class="helptext"><br>Enter the same password as before, for verification.</span></p><br>
            <button class="btn-dark" style="margin-top: 25px">Register</button>
        </form>
    </section>
{% endblock body %}