<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aeroreserve | {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href={% static 'CSS/style.CSS' %}>
</head>

<body>
    <nav class="navbar background h-nav-resp" style="font-size: 18px;">
        <ul class="nav-list v-class-resp">
            <div class="logo"><img src={% static 'images/logo.png' %} alt="Logo"></div>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a> </li>
            {% if user.is_authenticated %}
                <li><a href="/index">Book Flight</a></li>
            {% endif %}
            <li><a href="/contact">Contact</a></li>
        </ul>
        {% block nav %}
        {% endblock nav %}
    </nav>
    {% block body %}
    {% endblock body %}
    <footer class="background">
        <p class="text-footer">
        copyright &copy; 2021 Aeroreserve.com - All rights reserved
    </p>
    </footer>
    <script src={% static 'JS/resp.js' %}></script>
</body>
</html>