{%  extends 'base.html' %}
{% block title %}Congrats{% endblock title %}
{% load static %}
{% block nav %}
        <div class="rightnav v-class-resp">
            <div class="logout">
                <a href="/ticketlist" style="font-size:18px; margin-right: 40px; color: white; text-decoration: none">Tickets Booked</a>
            </div>
            <div class="logout">
                <img src="./static/icons/user-icon.svg" alt="">
                <a href="{% url 'logout' %}" style="color: white; font-size:18px; text-decoration: none">Log Out</a>
            </div>
        </div>
{% endblock nav %}
{% block body %}
<div class = 'jumbotron jumbotron-translucent' style="margin: 100px 50px;" align="center">
  <h1 style="font-size: 70px;">Congratulations!</h1>
    <h1 style="font-size: 40px;">Your ticket is booked</h1>
    <a href={% url 'bookedtickets' ticket.PNR %}><button class="btn-dark">View booked ticket</button></a>
</div>
{% endblock %}