{% extends 'base.html' %}
{% block title %}contact{% endblock title %}

{% block nav %}
    {% if user.is_authenticated %}
        <div class="rightnav v-class-resp" style="text-align: revert;>
            <div class="logout">
                <a href="/ticketlist" style="font-size:18px; margin-right: 40px; color: white; text-decoration: none">Tickets Booked</a>
            </div>
            <div class="logout">
                <img src="./static/icons/user-icon.svg" alt="">
                <a href="{% url 'logout' %}" style="color: white; font-size:18px; text-decoration: none">Log Out</a>
            </div>
        </div>
    {% else %}
        <div class="rightnav v-class-resp">
            <div class="login">
                <img src="./static/icons/user-icon.svg" alt="">
                <a href="{% url 'login' %}">Log in</a>
            </div>
            <div class="login">
                <img src="./static/icons/edit.svg" alt="">
                <a href="{% url 'register' %}">Register Now</a>
            </div>
        </div>
    {% endif %}
{% endblock nav %}

{% block body %}
 <section class="contact-us">
        <div class="contact-info-wrapper" style="margin-right: -300px;">
            <h1 class="section-heading">Contact Us</h1>
            <div class="contact-info">
                <div>
                    <div>
                        <img src="./static/icons/phone-2.svg" alt="">
                        <div>
                            <span>Call Us:</span>
                            <span>(+91) 0000000000</span>
                        </div>
                    </div>
                    <div>
                        <img src="./static/icons/bag-2.svg" alt="">
                        <div>
                            <span>Email:</span>
                            <span>support@Aeroreserve.com</span>
                        </div>
                    </div>
                    <div>
                        <img src="./static/icons/clock.svg" alt="">
                        <div>
                            <span>Working hours:</span>
                            <span>All days of the week</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14432.982116123994!2d82.9893735!3d25.2623247!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7555db6d623dc140!2sIndian%20Institute%20of%20Technology%20(BHU)%20Varanasi!5e0!3m2!1sen!2sin!4v1636633341387!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </section>
{% endblock body %}
