{% extends 'base.html' %}
{% block title %}contact{% endblock title %}

{% block nav %}
    {% if user.is_authenticated %}
        <div class="rightnav v-class-resp">
            <div class="logout">
                <a href="/ticketlist" style="font-size:18px; margin-right: 40px; color: white; text-decoration: none">Tickets Booked</a>
            </div>
            <div class="logout">
                <img src="./static/icons/user-icon.svg" alt="">
                <a href="{% url 'logout' %}" style="color: white; font-size:18px; text-decoration: none">Log Out</a>
            </div>
        </div>
    {% else %}
        <div class="rightnav v-class-resp">
            <div class="login">
                <img src="./static/icons/user-icon.svg" alt="">
                <a href="{% url 'login' %}">Log in</a>
            </div>
            <div class="login">
                <img src="./static/icons/edit.svg" alt="">
                <a href="{% url 'register' %}">Register Now</a>
            </div>
        </div>
    {% endif %}
{% endblock nav %}

{% block body %}
 <section class="contact-us">
        <div class="contact-info-wrapper">
            <h1 class="section-heading">Contact Us</h1>
            <div class="contact-info">
                <div>
                    <div>
                        <img src="./static/icons/phone-2.svg" alt="">
                        <div>
                            <span>Call Us:</span>
                            <span>(+91) 9521853719</span>
                        </div>
                    </div>
                    <div>
                        <img src="./static/icons/bag-2.svg" alt="">
                        <div>
                            <span>Email:</span>
                            <span>support@Aeroreserve.com</span>
                        </div>
                    </div>
                    <div>
                        <img src="./static/icons/clock.svg" alt="">
                        <div>
                            <span>Working hours:</span>
                            <span>24*7hours</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13766.369741097169!2d77.82646952710617!3d27.945526523532696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397350aa945a243f%3A0x9c7908835850057!2sPunjab%20National%20Bank!5e0!3m2!1sen!2sin!4v1620366246324!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </section>
{% endblock body %}
