{% extends 'base.html' %}
{% block title %}Book Flight{% endblock title %}
{% load static %}
{% block nav %}
    {% if user.is_authenticated %}
        <div class="rightnav v-class-resp">
            <div class="logout">
                <a href="/ticketlist" style="font-size:18px; margin-right: 40px; color: white; text-decoration: none">Tickets Booked</a>
            </div>
            <div class="logout">
                <img src="./static/icons/user-icon.svg" alt="">
                <a href="{% url 'logout' %}" style="color: white; font-size:18px; text-decoration: none">Log Out</a>
            </div>
        </div>
    {% else %}
        <div class="rightnav v-class-resp">
            <div class="login">
                <img src="./static/icons/user-icon.svg" alt="">
                <a href="{% url 'login' %}">Log in</a>
            </div>
            <div class="login">
                <img src="./static/icons/edit.svg" alt="">
                <a href="{% url 'register' %}">Register Now</a>
            </div>
        </div>
    {% endif %}
{% endblock nav %}
{% block body %}
    <section name="searchit" style="margin: 60px; background-color: rgba(216,236,253,0.85)!important; box-shadow:inset 0 0 11px cornflowerblue; padding: 40px!important; border-top-left-radius: 4rem!important; border-bottom-right-radius: 4rem!important; border-radius: 0rem!important;">
    <div>
    <form method="POST" >
    {% csrf_token %}
    <div class="row" style="text-align: center">
        <input class="form-control" name="from_field" list="datalistOptions" id="exampleDataList" placeholder="FROM" style="margin-left: auto; margin-right: 100px; padding: 5px">
        <datalist id="datalistOptions">
            {% for f in cities %}
                <option value={{ f }}>
            {% endfor %}
        </datalist>
        <input class="form-control2" name="to" list="datalistOptions2" id="exampleDataList2" placeholder="TO" style="margin-left: auto; margin-right: auto; padding: 5px">
        <datalist id="datalistOptions2">
            {% for f in cities2 %}
                <option value={{ f }}>
            {% endfor %}
        </datalist>
<script src="{% static 'js/ajax.js' %}"></script>
  <script>
    $( function() {
    $(".datepicker").datepicker({
        dateFormat: 'yy-mm-dd'
    });
    } );
    </script>
    <div class="col form-group" style="display: inline; margin: auto">
        <input name="Date" type="text" class="form-control datepicker textbox-translucent" autocomplete="off" placeholder="Date" title="" id="id_Date" style="margin-left: 100px; margin-right: auto; padding: 5px">
    </div>
    <div class="col-md text-center">
      <button class="btn-dark" type="submit">Search</button>
    </div>
    </div>
    </form>
    </div>
    </section>
    {% if flights %}
     {% if request.method == 'POST' %}
        <h4 style="margin-left: 60px; margin-bottom: 20px"> {{ flights.count }} flights found.</h4>
    {% else %}
         <h4 style="margin-left: 60px; margin-bottom: 20px"> {{ flights.count }} flights available in total.</h4>
    {% endif %}
    {% for flights in flights %}
    <div class="jumbotron jumbotron-translucent" style="margin: 60px; background-color: rgba(216,236,253,0.85)!important; box-shadow:inset 0 0 11px cornflowerblue; padding: 40px!important; border-top-left-radius: 4rem!important; border-bottom-right-radius: 4rem!important; border-radius: 0rem!important;">
      <div class="row">
        <div class="col">
          <h1> &#x2708; {{ flights.airline_id }}</h1>
          <h3>{{ flights.from_field }} &#10132; {{ flights.to }}</h3>
          <h4>{{ flights.arrival_time }} -- {{ flights.departure_time }}</h4><br>
            <h5>{{ flights.seats }} seats available</h5>
        </div>
        <div class="col" style="text-align: right">
          <h1 style="font-size: 60px;"> &#x20b9 {{ flights.fare }}/-</h1>
            {% if request.method == 'POST' %}
            <a href="{% url 'plane_detail_book' pk=flights.airline_id seats=flights.seats %}">
              <button class = "btn-dark" type="submit">Book</button>
            </a>
            {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
{% else %}
  <h4 style="margin-left: 60px; margin-bottom: 20px">No flights found.</h4>
    {% endif %}
{% endblock body %}

